/*
10/25/19 MSJ2
Goals: 
bring search bar on same line as tabs
avoid overlap of Documentation Nav Bar on the Header Text
*/

/* "Copy" code block button */
pre {
  position: relative;
}

/*
10/26/19
MSJ2 
Would reducing height from 30 px to 25 px help*/
pre .btnIcon {
  position: absolute;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid transparent;
  color: #383030;
  background-color: #f5f4f7;
  height: 25px;
  transition: all .25s ease-out;
}

pre .btnIcon:hover {
  text-decoration: none;
  background-color: #fff;
}

.btnIcon__body {
  align-items: center;
  display: flex;
}

.btnIcon svg {
  fill: currentColor;
  margin-right: .2em;
}

.btnIcon__label {
  font-size: 11px;
}

.btnClipboard {
  right: 1px;
  border-radius: 4px;
  padding: 0 8px;
}
